<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--日志：将SQL语句执行状态显示出来-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置数据源，交给spring去做-->
    <typeAliases>
        <package name="com.song.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.song.dao.BookMapper"/>
    </mappers>

</configuration>